* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  width: 100%;
  margin: 0px;
  background: url("../pictures/vision.jpg") no-repeat center fixed;
}

nav {
  height: 66px;
  width: 100%;
  position: absolute;
  top: 0px;
  padding-left: 10px;
}

/* this ruleset affects "Visio" text*/
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  color: white;
  text-align: left;
  margin: 4px;
  padding-left: 13px;
  padding-top: 13px;
}

/* this ruleset partly affects the background gradient*/
@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* this ruleset partly affects the background gradient as well contains the class for the first form for login and signup*/
.openingBox {
  background: linear-gradient(132deg, #f39774, #1665c1);
  background-size: 400% 400%;
  animation: BackgroundGradient 30s ease infinite;
  width: 100%;
  margin-top: 75px;
  padding: 44px;
  font-size: 25px;
  top: 50px;
  color: white;
  border-bottom: solid white;
  border-top: solid white;
  display: flex;
}

/* this ruleset affects the text input in index.ejs*/
input[type="email"] {
  width: 95%;
  padding: 12px 20px;
  margin-left: 2%;
  display: block;
  outline-style: none;
  font-size: 14px;
  font-weight: bold;
}

/* this ruleset affects the text input in index.ejs*/
input[type="password"] {
  width: 95%;
  padding: 12px 20px;
  margin-left: 2%;
  display: block;
  outline-style: none;
  font-size: 14px;
  font-weight: bold;
}

/* this ruleset affects the input class designated for username in index.ejs*/
.u-name {
  padding-left: 10px;
  margin-bottom: 10px;
}

/* this affects the legend element*/
legend {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

/* affects positioning of signup.ejs form*/
.signUpMain {
  margin-top: -122px;
}

.jSsignUpForm {
  margin-top: 0px;
}

/*this is the code for the comments form on pick-goals.ejs*/
.commentsForm {
  width: 95%;
  height: 363px;
  margin-top: 336px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(245, 245, 238, 0.8);
  padding-bottom: 5px;
  border-radius: 2%;
  padding-top: 24px;
  margin-top: 0px;
  margin-bottom: 100px;
}

/*Signup page form*/
.commentsForm2 {
  width: 95%;
  height: 312px;
  margin-top: 336px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(245, 245, 238, 0.8);
  padding-bottom: 5px;
  border-radius: 2%;
  padding-top: 24px;
  margin-bottom: 100px;
}

.formCss {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Edit box formatting*/
.dbDisplay-edit {
  border: solid lightgray;
  background-color: rgba(255, 255, 255, 0.5);
  width: 78%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

/*Edit box formatting*/
.submitEditPost {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 162px;
  margin-bottom: 17px;
}

/*Formats GET goals item on pick-goals.ejs*/
.dbGoals1 {
  font-size: 25px;
}

.cssClassOption {
  text-align: center;
}

.answerOption1 {
  display: none;
}

h2 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h3 {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/*paragraph class for index.html*/
.paraTag {
  margin-top: -27px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding-top: 31px;
  margin-bottom: -19px;
  text-align: center;
}

.main-section {
  padding-top: 5px;
  margin-top: 50px;
}

/*ruleset for selection options in pick-goals.html*/
select {
  width: 31%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1px;
  padding-right: 1px;
  font-size: 21px;
}

/*submit button for comments form*/
.submitPost {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  margin-top: 33px;
  padding: 12px;
  font-size: 15px;
}

/*comments form on pick-goal.html page*/
.signUpIn {
  width: 70%;
  height: 348px;
  margin-top: 368px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(245, 245, 238, 0.8);
  padding-bottom: 5px;
  border-radius: 5%;
  padding-top: 24px;
}

input[type="text"] {
  width: 95%;
  padding: 12px 20px;
  margin-left: 2%;
  display: block;
  outline-style: none;
  font-size: 14px;
  font-weight: bold;
}

.pickGoals {
  display: hidden;
}

label {
  padding-left: 2%;
}

.my-notes {
  width: 95%;
  height: 200px;
}

.submit {
  position: absolute;
  margin-top: 30px;
  width: 65%;
  height: 40px;
}

button:hover {
  background: #f39774;
}

/*For Desktop Screens*/
@media only screen and (min-width: 1000px) {
  html {
    zoom: 100%;
  }

  .nav-home {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  /* Goals page*/
  .flexBox3 {
    justify-content: center;
    flex-wrap: wrap;
    width: 15%;
    padding: 14px;
    font-size: 18px;
    margin: 0;
    top: 7px;
    right: 1%;
    float: left;
    position: absolute;
  }

  /* Signup page*/
  .flexBox4 {
    justify-content: center;
    flex-wrap: wrap;
    width: 29%;
    padding: 1%;
    font-size: 18px;
    margin: 0;
    top: 7px;
    right: 1%;
    float: left;
    position: absolute;
  }

  .openingP {
    padding: 5px;
    margin-bottom: 7px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }

  .formCss {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  /*Display format of GET list*/
  .dbDisplay {
    border: solid lightgray;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    margin-bottom: 7px;
    box-sizing: border-box;
    width: 33%;
    text-align: center;
  }

  .parentFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .flexBox {
    display: block;
    width: 45%;
    font-size: 24px;
    margin-top: 18px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .flexBox2 {
    display: block;
    width: 42%;
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 3px;
  }

  .paraTag {
    margin-top: -27px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-top: 31px;
    margin-bottom: -19px;
    text-align: center;
  }

  .sectionIndex {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 28px;
  }

  .signUpIn {
    width: 95%;
    height: 363px;
    margin-top: 336px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(245, 245, 238, 0.8);
    padding-bottom: 5px;
    border-radius: 2%;
    padding-top: 24px;
    margin-top: 0px;
    margin-bottom: 100px;
  }

  .formOpener {
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 28px;
    color: white;
    text-align: left;
    margin: 4px;
    padding-left: 13px;
    padding-top: 13px;
  }
}

.deleteButton {
  margin-left: 42%;
}

@media only screen and (max-width: 999px) {
  html {
    zoom: 67%;
  }

  .flexBox3 {
    justify-content: center;
    flex-wrap: wrap;
    width: 20%;
    padding: 1%;
    font-size: 16px;
    margin: 0;
    top: 12px;
    right: 1%;
    float: left;
    position: absolute;
  }

  /*Sign up page*/
  .flexBox4 {
    justify-content: center;
    flex-wrap: wrap;
    width: 29%;
    padding: 1%;
    font-size: 18px;
    margin: 0;
    top: 7px;
    right: 1%;
    float: left;
    position: absolute;
  }

  .sectionIndex {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 28px;
  }

  .signUpIn {
    width: 92%;
    height: 360px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(245, 245, 238, 0.8);
    padding-bottom: 5px;
    border-radius: 2%;
    font-size: 23px;
    padding-top: 24px;
  }
  a {
    text-decoration: none;
    color: black;
  }

  .formOpener {
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 28px;
    color: white;
    text-align: left;
    margin: 4px;
    padding-left: 13px;
    padding-top: 13px;
  }

  .formCss {
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
  }

  .parentFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .flexBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 48%;
    padding: 1%;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .flexBox2 {
    display: block;
    width: 20%;
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 3px;
  }

  .dbDisplay {
    border: solid lightgray;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    margin-bottom: 7px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 736px) {
  .sectionIndex {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /*For Mobile Screens*/
  @media only screen and (max-width: 699px) {
    html {
      zoom: 77%;
    }

    body {
      width: 100%;
    }

    nav {
      height: 66px;
      width: 100%;
      position: absolute;
      top: -22px;
      padding-left: 10px;
    }

    h1 {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 28px;
      color: white;
      text-align: center;
      margin-top: 17px;
      padding-top: 13px;
    }

    .signUpIn {
      width: 94%;
      height: 350px;
      margin-top: 39%;
      margin-left: auto;
      margin-right: auto;
      background: rgba(245, 245, 238, 0.8);
      padding-bottom: 5px;
      border-radius: 2%;
      padding-top: 13px;
    }

    .paraTag {
      margin-top: -27px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      padding-top: 31px;
      margin-bottom: -19px;
      text-align: center;
    }

    .sectionIndex {
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
    }

    .parentFlex {
      display: flex;
      justify-content: center;
      border: solid black;
      flex-wrap: wrap;
    }

    .flexBox {
      display: flex;
      justify-content: center;
      width: 48%;
      padding: 1%;
      font-size: 18px;
      margin-left: auto;
      margin-right: auto;
    }

    .formOpener {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media only screen and (max-width: 711px) {
    html {
      zoom: 62%;
    }
    .signUpIn {
      width: 94%;
      height: 350px;
      margin-top: 50%;
      margin-left: auto;
      margin-right: auto;
      background: rgba(245, 245, 238, 0.8);
      padding-bottom: 5px;
      border-radius: 2%;
      padding-top: 13px;
    }
  }

  @media only screen and (max-width: 612px) {
    .signUpIn {
      width: 94%;
      height: 350px;
      margin-top: 50%;
      margin-left: auto;
      margin-right: auto;
      background: rgba(245, 245, 238, 0.8);
      padding-bottom: 5px;
      border-radius: 2%;
      padding-top: 13px;
    }
  }

  @media only screen and (max-width: 448px) {
    .signUpIn {
      width: 94%;
      height: 371px;
      margin-top: 60%;
      margin-left: auto;
      margin-right: auto;
      background: rgba(245, 245, 238, 0.8);
      padding-bottom: 5px;
      border-radius: 2%;
      padding-top: 13px;
    }
  }

  @media only screen and (max-width: 320px) {
    .signUpIn {
      width: 94%;
      height: 369px;
      margin-top: 70%;
      margin-left: auto;
      margin-right: auto;
      background: rgba(245, 245, 238, 0.8);
      padding-bottom: 5px;
      border-radius: 2%;
      padding-top: 13px;
    }
  }
}
