<!DOCTYPE html>
  <html lang="en">
  <head>
    <% include ../partials/head %>   
  </head>
    
  <body>
    <div class="firstHide">        
    <section>
    <span class="secondView"><h1>Pick your target goals and click submit!</h1></span>
    <span class="thirdView"><h1>Live your Best Life!</h1></span>
    </section>
    </div>

    </main>
          
    <section>

    <nav role="navigation">
    </nav>

 <section>

    <div class="editBox js-edit1"></div>

       <!-- <div class="editBox js-edit">
               <form class="form-edit" role="form" action="#">
                        <legend>Notes to reach my goals, choose a category.</legend>
                        
                        <label class="category" for="category"></label>
                          <select id="category" type="text" title="category" class="my-category"  placeholder="Enter Category" required>
                            <option value="0"></option>
                            <option value="Career" selected>Career</option>
                            <option value="Financial">Financial</option>
                            <option value="Physical">Physical</option>
                            <option value="Personal-development">Personal-development</option>
                            <option value="Spiritual">Spiritual</option>
                            <option value="Experiential">Experiential</option>
                          </select>
                                 
                        <label for="notes"> 

                        <input id="edit-notes" title="notes"  type="text" class="my-notes" placeholder="Enter Notes" required>
                        </label>
                        
                        <button type="submit" class="submitPost1">Submit</button>  
            
                            
                        </form>
            </div> 
            -->
</section>

</body>
</html>