<!DOCTYPE html>
  <html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
    
  <body>

    <nav class="pickGoalsNav" role="navigation">
    <header role="banner">
    <h1>Visio</h1> 
    </header>  
    <button type="submit" class="reloadButton"><a href="/logout"> LogOut</a></button>  
    </nav>

    <div class="openingBox2">
    <p class="pickGoalsPara">We all have goals and aspirations in life, but how can we reach them? The purpose of this app is to help individuals organize their ideas. Login and then use Visio to journal your progress! Welcome to Visio!</p>
    </div>
  
    <main>
    <section class="main-section">
    <div class="commentsForm"> 

    <form class="goal-notes" role="form" action="/posts" method="post">
    <legend>Notes to reach my goals, choose a category.</legend>
          
    <label class="category" name="category" for="category"></label>
    <select id="category" type="text" title="category" class="my-category" name="category" placeholder="Enter Category" required>
    
    <option class="cssClassOption" value="0" selected></option>
    <option class="cssClassOption" value="Career">Career</option>
    <option class="cssClassOption" value="Financial">Financial</option>
    <option class="cssClassOption" value="Physical">Physical</option>
    <option class="cssClassOption" value="Personal-Development">Personal-development</option>
    <option class="cssClassOption" value="Spiritual">Spiritual</option>
    <option class="cssClassOption" value="Experiential">Experiential</option>
    
    </select>
       
    <label for="notes">
    <input id="notes" title="notes" name="comments" type="text" class="my-notes" placeholder="Enter Notes" required>
    </label>
          
    <button type="submit" class="submitPost">Submit</button>  
      
    </form>
    </div>
          
    <form class="formCss js-submit" method="#" >

    <% goalposts.forEach(function(goalpost) { %> 
    <section class="dbDisplay">
    <label for="goalposts">
    <input title="checkBox" id="goalposts" class="answerOption1" name="answer" >
    <p class="dbGoals"><%=goalpost.category%></p>
    <p class="dbGoals1"><%=goalpost.comments%></p>
    </label>
    <button type="submit" class="deleteButton"><a href="/delete/<%=goalpost._id%>">Delete </a></button>  
    <button  class="editButton" type="submit" id="/edit"><a href="/edit-goal/<%=goalpost._id%>">Update</a></button>  
    </section>
                
    <% }) %> 
                
    </form>
             
    </div>
    </section>

  </main>

  </body>
  </html>
