<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>

<main class="signUpMain">
  <section>       

<!-- The Navigation section provides the first introduction for the name of the app: Visio as well as the introduction-->
<nav class="pickGoalsNav" role="navigation">
    <!--<header role="banner">-->
    <h1>Visio</h1> 
    <!--</header>   -->
    <button onclick="location.href='/';" type="submit" class="flexBox4">Return to Home</button>
 
    </nav>

    <section>
       <div class="commentsForm2"> 

    <form role="form" class="jSsignUpForm" action="/signup" method="post">
    <legend>Login or SignUp</legend>

    <label class="name" for="username1">Username:
    <input id="username1" name="email" type="text" title="Username1" class="jsUserName"  placeholder="Enter Username e.g. my@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
    </label>

<label for="name">Password:
     <input id="password1" title="password1"  name="password" type="text" class="jsPassword" placeholder="Enter Password" required>
      </label>

    <button type="submit" class="submitPost jSsignUP1">Signup</button>
    <div class="center">

    </div>
           </form>
           </div>
          </section>
  </main>
        
    

  </body>
</html>