<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>

<main class="signUpMain">
  <section>       

<!-- The Navigation section provides the first introduction for the name of the app: Visio as well as the introduction-->
    <nav role="navigation">
      <h1>Visio</h1> 
    </nav>

    <section>
       <div class="signUpIn1"> 

      <form role="form" class="jSsignUpForm" action="/signup" method="post">
         <legend>Login or SignUp</legend>

       <!--  <label class="name" for="firstName">First Name:
            <input id="firstName" type="text" title="firstName" class="jsFirstName"  placeholder=" First Name" required>
        </label>

        <label class="name" for="lastName">Last Name:
            <input id="lastName" type="text" title="lastName" class="jsLastName"  placeholder=" Last Name" required>
        </label> -->

        <label class="name" for="username1">Username:
           <input id="username1" name="email" type="text" title="Username1" class="jsUserName"  placeholder="Enter Username e.g. my@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
        </label>

<label for="name">Password:
     <input id="password1" title="password1"  name="password" type="text" class="jsPassword" placeholder="Enter Password" required>
      </label>

    <button type="submit" class="signUP1 jSsignUP1">Signup</button>
    <div class="center">
    <button type="submit" class="reloadButton"><a href="/">Return to Home</a></button>

    </div>
           </form>
           </div>
          </section>
  </main>
        
    

  </body>
</html>